/* Común a todas las secciones */ 
.container {
	width: 100%;
	max-width: 960px;
	min-height: 100%;
	margin: 0 auto;
	margin-bottom: -72px;
	display: block;
}

.left {
	float: left;
}

.right {
	float: right;
}

.section-content {
	/*padding: 50px 0;*/
	color: #333333;
	padding-bottom: 50px;
}

.section-content-reverse {
	margin-left: calc(-50vw + 50%);
	margin-right: calc(-50vw + 50%);
	color: rgba(255, 255, 255, 1);
	padding-bottom: 0;
}

.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.75);
}

.section-title, 
.section-title-reverse {
	position: relative;
	text-align: center;
	padding: 20px;
	font-size: 2.4em;
}

.section-title::after,
.section-title-reverse::after {
	content: "";
	position: absolute;
	width: 100px;
	height: 3px;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #333333;
}

.section-title-reverse::after {
	background-color: rgba(255, 255, 255, 1);
}

p.section-main-paragraph {
	text-align: center;
	padding: 20px 0;
}

.studies, .about-me {
	position: relative;
	width: 100%;
	height: 600px;
	background-attachment: fixed;
	background-color: #333333;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}

/* Sección quién soy */
.who-i-am {
	width: 100%;
}

.who-i-am .personal-info {
	display: flex;
	flex-direction: column;
	text-align: center;
	font-size: 0.9em;
	padding-top: 50px;
}
.who-i-am .personal-info .profile-photo {
}

.who-i-am .personal-info .profile-photo img {
	height: 200px;
    max-width: 100%;
    padding: 8px;
    background-color: white;
    border-radius: 50%;
    border: 2px solid #dedede;
    box-shadow: 0 8px 10px #999;
}

.who-i-am .personal-info .personal-info-header {
	display: inline-block;
	margin: 20px;
	padding: 10px 0;
	border-bottom: 3px solid black;
	font-family: 'Raleway', sans-serif;
}

.who-i-am .personal-info span {
	display: block;
	color: #333;
	margin: 5px 0 10px;
}

.who-i-am .personal-info span > strong {
	display: block;
	margin-bottom: 5px;
}

/* Sección estudios */
.studies {
	background-image: url('../images/studies.jpg');
}

/* Sección experiencia */
.experience .time-line {
	width: 100%;
	position: relative;
	padding-top: 40px;
}

.experience .time-line:before {
	position: absolute;
	content: "";
	left: 50%;
	width: 4px;
	margin-left: -2px;
	top: 0;
	height: 100%;
	background-color: #222222;
	border-radius: 2px;
}

.experience .time-line .time-line-block {
	position: relative;
	width: 100%;
	margin-bottom: 40px;
	overflow: auto;
}

.experience .time-line .time-line-block .icon {
	position: absolute;
	width: 50px;
	height: 50px;
	left: 50%;
	margin-left: -25px;
	border-radius: 50%;
	background-color: #222222;
	color: #FFFFFF;
	text-align: center;
}

.experience .time-line .time-line-block .icon i {
	margin: auto;
	line-height: 50px;
	font-size: 1.2em;
}

.experience .time-line .time-line-block .time-line-content {
	width: 44%;
    border: 1px solid #222;
    padding: 20px;
    color: #222;
    background: #222;
    text-align: left;
	border-radius: 2px;
}

.experience .time-line .time-line-block .time-line-content::before {
	position: absolute;
    content: "";
    top: 10px;
    height: 0;
    width: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
}

.experience .time-line .time-line-block .time-line-content.left::before {
    left: 44%;
    border-left: 15px solid #222;
}

.experience .time-line .time-line-block .time-line-content.right::before {
    right: 44%;
    border-right: 15px solid #222;
}

.experience .time-line .time-line-block .time-line-content .job-title {
	color: #FFFFFF;
	display: inline-block;
	text-transform: uppercase;
}

.experience .time-line .time-line-block .time-line-content .job-duration {
	color: #B3B3B3;
	font-size: 0.8em;
	margin-left: 10px;
}

.experience .time-line .time-line-block .time-line-content .job-category {
	display: block;
	color: #B3B3B3;
	font-size: 0.8em;
	margin-top: 5px;
	margin-bottom: 10px;
	text-transform: capitalize;
}

.experience .time-line .time-line-block .time-line-content .job-paragraph {
	color: #FFFFFF;
	font-weight: 300;
	font-size: 0.8em;
	letter-spacing: 1.2px;
}

/* Seción sobre mí */
.about-me {
	background-image: url('../images/about-me.jpg');

}

.about-me-content {
	display: flex;
	max-width: 960px;
	margin: auto; 
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}

.about-me-item {
	flex-grow: 1;
}

/* Sección contacto */
