.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	display: block;
}

.section-content {
	/*padding: 50px 0;*/
	color: #333333;
}

.section-content-reverse {
	margin-left: calc(-50vw + 50%);
	margin-right: calc(-50vw + 50%);
	color: rgba(255, 255, 255, 1);
}

.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.75);
}

.section-title, 
.section-title-reverse {
	position: relative;
	text-align: center;
	padding: 20px;
	font-size: 2.4em;
}

.section-title::after,
.section-title-reverse::after {
	content: "";
	position: absolute;
	width: 100px;
	height: 3px;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #333333;
}

.section-title-reverse::after {
	background-color: rgba(255, 255, 255, 1);
}

.studies, .about-me {
	position: relative;
	width: 100%;
	height: 600px;
	background-attachment: fixed;
	background-color: #333333;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}

.studies {
	background-image: url('../images/studies.jpg');
}

.about-me {
	background-image: url('../images/about-me.jpg');	
}